[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixfmt" }

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "yaml"
# does not use ansible-language-server
language-servers = ["yaml-language-server"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--stdin", "file.yaml"] }

[language-server.yaml-language-server.config.yaml]
# use yamlfmt to format yaml files
# yaml-language-server use prettier as formatter
# however, since it doesn't allow specifying format options, so disable it
format = { enable = false }
validation = true

# https://github.com/rust-lang/rust-analyzer/blob/master/crates/rust-analyzer/src/config.rs
[language-server.rust-analyzer.config]
inlayHints.chainingHints.enable = true
inlayHints.bindingModeHints.enable = false
inlayHints.closingBraceHints.minLines = 20
inlayHints.closureCaptureHints.enable = true
inlayHints.closureReturnTypeHints.enable = "with_block"
inlayHints.discriminantHints.enable = "fieldless"
inlayHints.lifetimeElisionHints.enable = "skip_trivial"
inlayHints.typeHints.hideClosureInitialization = false

completion.autoimport.enable = true
# fill_arguments | add_parentheses | none
completion.callable.snippets = "none"
completion.fullFunctionSignatures.enable = true

imports.group.enable = true
imports.granularity.enforce = true
imports.granularity.group = "crate"
imports.prefix = "crate"
imports.preferPrelude = false

lens.enable = false

hover.actions.enable = false

# https://users.rust-lang.org/t/can-i-stop-vscode-rust-analyzer-from-shading-out-cfgs/58773/4
diagnostics.disabled = ["inactive-code"]

[language-server.rust-analyzer.config.cargo]
features = "all"

[language-server.rust-analyzer.config.check]
command = "clippy"
features = "all"

# Configure biome
# https://github.com/biomejs/biome/blob/main/editors/helix/manual.md
[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]
auto-format = true
formatter = { command = "biome", args = [
  "format",
  "--stdin-file-path",
  "a.ts",
] }

[[language]]
name = "tsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "jsx"
auto-format = true
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
]

[[language]]
name = "just"
auto-format = true

[[language]]
language-servers = ["rust-analyzer"]
name = "rust"

[[language]]
name = "markdown"
language-servers = ["marksman"]

[[language]]
name = "hcl"
# hcl を指定すると、docker-bake.hcl で target blockがエラーになる
file-types = ["tf", "nomad"]
language-servers = ["terraform-ls"]

# default だとhclの中で、tfとhclが扱われているので分ける
[[language]]
name = "hclonly"
scope = "source.hcl"
file-types = ["hcl"]
comment-token = "#"
block-comment-tokens = { start = "/*", end = "*/" }
indent = { tab-width = 2, unit = "  " }
language-servers = []
auto-format = true


[language-server.terraform-ls]
# https://github.com/hashicorp/terraform-ls/blob/main/docs/SETTINGS.md
command = "terraform-ls"
args = ["serve"]
config.indexing.ignorePaths = ["docker-bake.hcl", "*.tftest.hcl"]
config.indexing.ignoreDirectoryNames = ["target", "tests"]

[language-server.sql-language-server]
command = "sqls"
args = []

[[language]]
name = "sql"
language-servers = ["sql-language-server"]

[[language]]
name = "make"
# Add Kbuild
file-types = [
  { glob = "Kbuild" },
  { glob = "Makefile" },
  { glob = "makefile" },
  "make",
  "mk",
  "mak",
  { glob = "GNUmakefile" },
  { glob = "OCamlMakefile" },
]
