layout {
	pane_template name="ssh" {
		command "ssh"
	}

	pane size=1 borderless=true {
		plugin location="zellij:tab-bar"
	}
	pane split_direction="vertical" {
		ssh {
			args "ymgyt@192.168.10.150"
		}
		ssh {
			args "ymgyt@192.168.10.151"
		}
	}
	pane split_direction="vertical" {
		ssh {
			args "ymgyt@192.168.10.152"
		}
		ssh {
			args "ymgyt@192.168.10.153"
		}
	}
	pane size=2 borderless=true {
		plugin location="zellij:status-bar"
	}
}
